[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-bootstrap3 = "*"
Pillow = "*"
django-mongoengine = {path = "./../.."}

[requires]
python_version = "3.7"
