[tool.poetry]
name = "django-mongoengine"
version = "0.4.6"
description = "Django support for MongoDB via MongoEngine"
authors = ["Ross Lawley <ross.lawley@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.7,<4"
django = "~3"
mongoengine = ">=0.14"

[tool.poetry.dev-dependencies]
sphinx = "*"
pytest = "^6"
flake8 = "^3"
pdbpp = "^0.10.2"
pytest-django = "^4.2.0"
pytest-cov = "^2.11.1"
pytest-sugar = "^0.9.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
