<!doctype html>{% load bootstrap3 %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>My Tumblelog</title>

    {% bootstrap_css %}
    <style>
      .navbar-brand small {
        color: #999;
        display:block;
        font-size:12px;
      }

      .navbar-toggle {top:10px}

      @media (min-width:768px) {

        .navbar-brand {
          padding-top: 7px;
        }

      }
    </style>
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            My Tumblelog
            <small>Starring MongoDB and MongoEngine</small>
          </a>
        </div>
        <nav class="navbar-collapse">
          {% block top_nav %}{% endblock %}
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">
          {% block page_header %}{% endblock %}
          {% include "_messages.html" %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer style="margin-top: 40px; margin-bottom: 20px; text-align: center; color: #888;">
      <div class="container">
        <p>Project is example application for testing features of django_mongoengine.</p>
      </div>
    </footer>
    {% block js_footer %}
    {% bootstrap_javascript jquery=1 %}
    {% endblock %}
  </body>
</html>
