<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>My Tumblelog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .navbar-inner small { float: left; padding: 10px;}
    </style>
  </head>

  <body>
    <div class="navbar" data-dropdown="dropdown">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">My Tumblelog</a> <small>Starring MongoDB and MongoEngine</small>
          {% block top_nav %}{% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% include "_messages.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
